# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/
*.venv

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs and debug files
*.log
*.out
*.err
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System-specific files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Coverage reports
.coverage
*.cover
coverage.xml
htmlcov/
cov_report/

# Pytest and te
