numpy
pandas~=2.2.3
matplotlib
seaborn
scipy
plotly
psycopg2-binary~=2.9.10
python-dotenv~=1.0.1
flask
streamlit~=1.42.1
langchain~=0.3.19
langchain-openai~=0.3.6
duckdb
black
streamlit

openai~=1.63.2
langchain-community~=0.3.17